* {
  margin: 0; 
  padding: 0;
}

html, body{
  font-size: 18px;
}

h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.second-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: conic-gradient(from 90deg at -10% 100%,#2b303b 0deg,#2b303b 90deg,#16181d 1turn);
}

.first-container{
  
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #23272f;
}

.third-container{
  margin-top: 15%;
}